.nav-link {
  text-decoration: none;
  color: black;
}

.reserve {
  border: 2px solid #ff770f;
  border-radius: 15px;
  background-color: #ff770f;
  font-style: normal;
}

.nav-link:hover {
  color: #ff770f !important;
  font-weight: 600;
}
